*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(245, 242, 242);
    color: #000;
}

/* Root */
    /* Font sizes */
    h1{
        font-size: 3.5rem;
        font-weight: 700;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    /* Colours */
    /*Should be applied only when clicked on */
    a{
        color: darkblue;
        text-decoration: underline;
    }
    img{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    }

    /* Sizes */
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 80px 5px;
    }
    .layout{
        max-width: 70em;
        border-radius: 5px;
    }
    
    
/* Animations */





/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(245, 242, 242);
    color: #000;
    
}
.navbar ul {
    margin-left: auto;
}



/* Header */
#header{
    height: 20em;
    padding: 15px;
    display: flex;
    gap: 40px;
    background: #D9D9D9;

}
#explore{
    height: 40rem;
    padding: 15px;
    display: flex;
    gap: 30px;
    margin-top: 0;
    max-width: 70em;
}
.custom-button{
    width: 10rem;
    height: 2.5rem;
    border-radius: 12px;
    background: #8A655D;
    box-shadow: 0px -5px 6.2px 0px rgba(0, 0, 0, 0.25) inset, -3px 3px 2px 0px rgba(0, 0, 0, 0.25);
    margin-left: 15rem;
    margin-top: 2.5rem;
}
.see-more{
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: -52rem;
}


#latkes{
    height: 18rem;
    width: 27.5rem;
    position: relative;
}
.overlay {
    position: relative;
    margin-top: -18rem;
    height: 18rem;
    width: 27.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}




/* Explore */
.more {
    position: relative;
    text-align: start;
}
.more h2 {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 10px 20px;
    z-index: 2;
}
.more img{
    width: 21.5rem;
    height: 17.5rem;
}
#ziti {
    position: relative;
    width: 21.5rem;
    height: 17.5rem;
    margin-top: -17.5rem;
}


/* Brown sugar  */
.recipe-card {
    position: relative;
    text-align: start;
}
.recipe-card h2 {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 10px;
    z-index: 2;
}
.brown-sugar{
    width: 18rem;
    height: 38rem;
        
}
#sugar{
    position: absolute;
    width: 18rem;
    height: 38rem;
    margin-top: -37.9rem;
}


.row{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-left: 5px;
    margin-top: 10px;
}




/* Footer */
footer{
    background-color: rgb(245, 242, 242);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    border: 1px solid rgb(0, 0, 0, 0.1);
}
.divider{
    width: .15rem;
    height: 1rem;
    background-color: #000;
}
.contact{
    display: flex;
    padding: 6px;
    gap: 15px;
    line-height: normal;
}
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    gap: 6px;
}

/* Media queries */